
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1:rgba(46, 196, 182, 1);
    --color2:rgba(203, 243, 240, 1);
    --color3:rgba(46, 196, 182, 1);
    --color4:rgba(255, 160, 28, 0.788);
    --color5:rgb(255, 190, 105);

    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color4);
    width: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    font-weight: 700;
    color: white;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color1);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

ul {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cocktail-image {
    height: 80px;
    width: 80px;
}

li {
    border: solid 2px black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    background-color: var(--color5);
}

.cocktail-name {
    font-weight: 800;
    font-size: x-large;
}

.cocktail-pIngredients {
    font-style: italic;
    font-size: small;
    margin: 5px;
}

.cocktail-pPrice {
    font-weight: 600;
}

.cocktail-pCategory {
    font-style: italic;
    font-size: x-small;
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color1);
    box-shadow: var(--shadow);
}

table {
    width: 80%;
    border: solid 1px black;
    margin-bottom: 15px;
}

th {
    border-bottom: solid .5px black;
    font-weight: bold;
    background-color: var(--color5);
}

/* tbody {
    border-bottom: solid 5px black;
} */

tfoot {
    font-weight: bold;
    font-style: italic;
    border-top: solid 2px black;
    /* background-color: var(--color5); */
}

.quantity-select {
    margin: 5px;

}

.toast {
    visibility: hidden;
    min-width: 250px;
    color: #fff;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 20px;
    bottom: 80%;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 80%; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 80%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}